<form class="navbar-form navbar-left">
    <div class="form-group dropdown">
        <input ng-model="searchInput" type="text" class="form-control" placeholder="Search" class="dropdown-toggle"
               data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <ul class="dropdown-menu">

            <li ng-repeat="element in list | filter:searchInput | limitTo: 3 as filtered">
                <a href="#!/product/{{element.productID}}">{{element.productTitle}}</a>
            </li>
            <li ng-if="filtered.length===0"><a>No Results:(</a></li>
        </ul>
    </div>

</form>